.UsersList{
  margin-top: 3%;
  width: 80%;
  height: auto;
  background-color: #f0f8ff37;
  border-radius: 7px;
  position: relative;
  margin-bottom: .8rem;
}
.fa-circle-user{
  font-size: 1.8rem;
  color: #ffffff;
}
.tittle-list{
  padding: 1.9rem 4.5rem;
  display: inline-block;
  color: rgb(24, 23, 23);
}
.btn-add-list{
  position: absolute;
  top: 2.7rem;
  right: 5rem;
  border: none;
  border-radius: 3px;
  padding: 6px;
  padding-right: 12px;
  background-color: #1c1cd9;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  color: #f0f8ff;
  transition: .8s;
  animation: mas_scale 1.3s infinite;
}
.btn-add-list:hover{
  animation: none;
  background-color: #bcbcf9;
  transform: scale(1.07);
  color: #000;
}

.fa-user-plus{
  color: #ffffff;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
}
.container__cards--users{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  column-gap: 4rem;
  row-gap: 2rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
  height: 83.8%;
  padding-bottom: 3rem;
  border-radius: 5px 5px;
  box-shadow: 0 -2px #563b7a;
}
.container__cards--users::-webkit-scrollbar{
  border-radius: 20px;
  width: 8px;
  background-color: #bc9ff2;
}
.container__cards--users::-webkit-scrollbar-thumb{
  border-radius: 20px;
  width: 8px;
  background-color: #4d28c7;
}
.user-card{
  width: 17rem;
  min-height: auto;
  box-shadow: 0 0 2rem #424141;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  padding: 20px 15px;
  transition: .7s;
  position: relative;
}
.user-card:hover{
  transform: scale(1.03);
}
.barra{
  margin: 13px 0;
  height: .3px;
  background-color: #969494;
  border: none;
}
.card__name--tittle{
  font-size: 16px;
  text-align: center;
}
.fa-user{
  padding: 0 3px 0 0;
}
.fa-envelope, .birthday-icon{
  padding: 0 5px;
}
.card__email{
  padding: 7px 0 10px 0;
  font-size: 14px;
  padding-left: 10px;
}
.card__birthday{
  font-size: 14px;
  padding: 0 0 10px 10px;
}
.btn-trash{
  position: relative;
  top: 8px;
  left: 80px;
  bottom: 6px;
  right: 5rem;
  font-size: 20px;
  padding: 7px 8px;
  border-radius: 5px;
  border: 1px solid #000;
  color: #000000;
  background-color: #540bbb64;
  cursor: pointer;
  transition: .8s;
}
.btn-edit{
  position: relative;
  left: 90px;
  bottom: 6px;
  right: 1.6rem;
  font-size: 20px;
  padding: 7px 8px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0ba80b;
  cursor: pointer;
  transition: .4s;
}
.btn-edit:hover{
  transform: rotate(360deg);
}
.btn-trash:hover{
  transform: rotateY(360deg);
}

.btn-delete{
  background-color: #a98ed2;
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 90%;
  right: 2rem;
  cursor: pointer;
  box-shadow: 0 0 12px #585656;
  transition: .5s;
}
.btn-delete:hover{
  background-color: #543781;
  transform: scale(.9);
}

@keyframes mas_scale {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.03);
  }
  100%{
    transform: scale(1);
  }
}